@font-face {
	font-family: 'icomoon';
	src:asset-url('icomoon.eot?-iry8z3');
	src:asset-url('icomoon.eot?#iefix-iry8z3') format('embedded-opentype'),
            asset-url('icomoon.ttf?-iry8z3') format('truetype'),
            asset-url('icomoon.woff?-iry8z3') format('woff'),
            asset-url('icomoon.svg?-iry8z3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sprint:before {
	content: "\e623";
}
.icon-pronouncing:before {
	content: "\e625";
}
.icon-chat:before {
	content: "\e621";
}
.icon-microphone:before {
	content: "\e61d";
}
.icon-comment:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e61c";
}
.icon-atom:before {
	content: "\e612";
}
.icon-user:before {
	content: "\e607";
}
.icon-printer:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e620";
}
.icon-letter:before {
	content: "\e60f";
}
.icon-email:before {
	content: "\e60b";
}
.icon-law:before {
	content: "\e627";
}
.icon-time:before {
	content: "\e60a";
}
.icon-stats:before {
	content: "\e622";
}
.icon-paperclip:before {
	content: "\e61e";
}
.icon-checkmark:before {
	content: "\e611";
}
.icon-lang:before {
	content: "\e600";
}
.icon-calculate:before {
	content: "\e614";
}
.icon-mobile:before {
	content: "\e601";
}
.icon-aid:before {
	content: "\e626";
}
.icon-lab:before {
	content: "\e613";
}
.icon-sigma:before {
	content: "\e615";
}
.icon-console:before {
	content: "\e616";
}
.icon-search:before {
	content: "\e602";
}
.icon-pencil:before {
	content: "\e604";
}
.icon-rouble:before {
	content: "\e624";
}
.icon-facebook:before {
	content: "\e619";
}
.icon-youtube:before {
	content: "\e61b";
}
.icon-vk:before {
	content: "\e61a";
}
.icon-university:before {
	content: "\e60e";
}
.icon-graduation-cap:before {
	content: "\e609";
}
.icon-camera:before {
	content: "\e608";
}
.icon-cup:before {
	content: "\e605";
}
.icon-puzzle:before {
	content: "\e603";
}
.icon-feather:before {
	content: "\e61f";
}
.icon-users:before {
	content: "\e617";
}
.icon-conversion:before {
	content: "\e628";
}
.icon-briefcase:before {
	content: "\e618";
}
.icon-language:before {
	content: "\e60c";
}
.icon-question:before {
	content: "\e610";
}
.icon-arrow-left:before {
	content: "\e629";
}
.icon-arrow-down:before {
	content: "\e62b";
}
.icon-arrow-up:before {
	content: "\e62c";
}
.icon-arrow-right:before {
	content: "\e62a";
}