<div class="col-sm-12">
  <div class="box">
    <div class="box-header">
      <h2><i class="fa fa-plus-square"></i><span class="break"></span><%= t('students.add_student') %></h2>
    </div>
    <div class="box-content">
    
      <%= render 'form_new' %>       
      
    </div>
  </div>
</div>