    <div class="box" class="box-content center conference-content">
       <a class="btn" href="https://meet.jit.si/775641312" target="_blank">
        <button id="startButton" type="button" class="btn btn-success btn-lg">
            <%= t('lesson.start_lesson') %>
        </button>       
       </a>
    </div>