    <div class="box" class="box-content center conference-content">

        <iframe id="jitsiFrame" class="hidden" seamless allow="microphone; camera" frameborder="0" scrolling="auto"></iframe>

      	<style type="text/css">
            <%#*.box {%>
                <%#*position: relative;%>
                <%#*height: 640px;%>
                <%#*height: calc(100% - 50px);%>
            <%#*}%>
            iframe {
                <%#*margin-top: -55%;%>
                <%#*margin-left: 12%;%>
                <%#*margin-bottom: 4%;%>
                <%#*padding-bottom: 4%;%>
                <%#*position: relative;%>
                margin-top: -38%;
                margin-left: 12%;
                margin-bottom: 7%;
                padding-bottom: 7%;
                position: relative;                
                <%#*margin-top: -1000px;%>
                <%#*margin-top: -100%;%>
                <%#*margin-left: 10%;%>
                <%#*margin-bottom: -1%;%>
                <%#*padding-bottom: 7%;%>
                <%#*position: relative;%>

            }
	</style>
</div>